@using chargebook.data.user
@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using ChargeBook.models.booking
@using ChargeBook.services
@using Newtonsoft.Json
@inject IUserUtils userUtils
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["title"] - ChargeBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script>
        window.possibleConnectorTypes = { };
        @foreach (ConnectorType ct in Enum.GetValues(typeof(ConnectorType))) {
            var display = typeof(ConnectorType).GetField(ct.ToString()).GetCustomAttribute<DisplayAttribute>().Name;
            @:window.possibleConnectorTypes["@ct"] = "@display";
        }
        const bookingStatusBadges = @Html.Raw(JsonConvert.SerializeObject(BookingStatusBadge.bookingStatusBadges))
    </script>
    @await RenderSectionAsync("styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 position-relative">
            <div class="container">
                <a class="navbar-brand mx-auto" asp-area="" asp-controller="home" asp-action="index">Charge <i class="fas fa-bolt"></i> Book</a>
            </div>
            @if (userUtils.isLoggedIn(User)) {
                <div class="position-absolute d-flex align-items-center" style="right: 20px;">
                    @*<button class="btn btn-outline-danger mr-2"><i class="fas fa-angle-double-left" style="font-size: 1em;"></i> Nutzerübersicht</button>*@
                    @if (userUtils.isAdmin(User)) {
                        @if ((bool) ViewData["isAdminView"]) {
                            <a class="btn btn-outline-danger mr-3" asp-controller="home" asp-action="index">
                                <i class="fas fa-angle-double-left" style="font-size: 1em;"></i>
                                <span class="d-none d-sm-inline-block">Nutzerübersicht</span>
                            </a>
                        } else {
                            <a class="btn btn-outline-danger mr-3" asp-controller="homeadmin" asp-action="index">
                                <span class="d-none d-sm-inline-block">Verwalterübersicht</span>
                                <i class="fas fa-angle-double-right" style="font-size: 1em;"></i>
                            </a>
                        }
                    }
                    @await Component.InvokeAsync("Profile")
                </div>
            }
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="~/lib/moment/de.js" asp-append-version="true"></script>
    <script src="~/js/simpleBarVueComponent.js" asp-append-version="true"></script>
    @if (userUtils.isLoggedIn(User)) {
        <script src="~/js/editCarsModalVueComponent.js" asp-append-version="true"></script>
    }
    <script src="~/js/site.js" asp-append-version="true"></script>
    @if (userUtils.isLoggedIn(User)) {
        <script src="~/js/layout.js" asp-append-version="true"></script>
    }
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>